.body {
  
}

.super-mario {
  width: 200px;
  position: absolute;
  z-index: 2;
}

.goomba {
  width: 200px;
  position: absolute;
  top: 350px;
}

.baloon {
  width: 200px;
  position: absolute;
  left: 260px;
  z-index: 3;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 450px;
  top: 120px;
}

.word {
  position: absolute;
  left: 270px;
  top: 100px;
  z-index: 4;
}